/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#define HOST_OS 1 // 0 — Win, 1 — Linux, 2 — MacOS

#include <behaviors.dtsi>
#include "../../../../../helper/helper.h"
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3
#define SYS 4

#define ENG &kp LC(LGUI)
#define RUS &kp RC(K_APP)

#define _v_ &trans
#define ___ &none

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <150>; };

// unicode symbols
ZMK_UNICODE_SINGLE(euro_sign, N2, N0, A, C)  // €

/ {
        behaviors {
            hm: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MODS";
                #binding-cells = <2>;
                tapping-term-ms = <250>;
                quick-tap-ms = <150>;
                flavor = "tap-preferred";
                bindings =
                    <&kp>,
                    <&kp>;
            };
        };

        combos {
            compatible = "zmk,combos";

            kp_f11 {
                bindings = <&kp F11>;
                key-positions = <1 14>;
                layers = <0>;
            };

            kp_f9 {
                bindings = <&kp F9>;
                key-positions = <2 15>;
                layers = <0>;
            };

            kp_f7 {
                bindings = <&kp F7>;
                key-positions = <3 16>;
                layers = <0>;
            };

            kp_f5 {
                bindings = <&kp F5>;
                key-positions = <4 17>;
                layers = <0>;
            };

            kp_f3 {
                bindings = <&kp F3>;
                key-positions = <5 18>;
                layers = <0>;
            };

            kp_f1 {
                bindings = <&kp F1>;
                key-positions = <6 19>;
                layers = <0>;
            };

            kp_f2 {
                bindings = <&kp F2>;
                key-positions = <7 20>;
                layers = <0>;
            };

            kp_f4 {
                bindings = <&kp F4>;
                key-positions = <8 21>;
                layers = <0>;
            };

            kp_f6 {
                bindings = <&kp F6>;
                key-positions = <9 22>;
                layers = <0>;
            };

            kp_f8 {
                bindings = <&kp F8>;
                key-positions = <10 23>;
                layers = <0>;
            };

            kp_f10 {
                bindings = <&kp F10>;
                key-positions = <11 24>;
                layers = <0>;
            };

            kp_f12 {
                bindings = <&kp F12>;
                key-positions = <12 25>;
                layers = <0>;
            };

            kp_equal {
                bindings = <&kp EQUAL>;
                key-positions = <14 26>;
                layers = <0>;
            };

            kp_9 {
                bindings = <&kp N9>;
                key-positions = <15 27>;
                layers = <0>;
            };

            kp_7 {
                bindings = <&kp N7>;
                key-positions = <16 28>;
                layers = <0>;
            };

            kp_5 {
                bindings = <&kp N5>;
                key-positions = <17 29>;
                layers = <0>;
            };

            kp_3 {
                bindings = <&kp N3>;
                key-positions = <18 30>;
                layers = <0>;
            };

            kp_1 {
                bindings = <&kp N1>;
                key-positions = <19 31>;
                layers = <0>;
            };

            kp_2 {
                bindings = <&kp N2>;
                key-positions = <20 32>;
                layers = <0>;
            };

            kp_4 {
                bindings = <&kp N4>;
                key-positions = <21 33>;
                layers = <0>;
            };

            kp_6 {
                bindings = <&kp N6>;
                key-positions = <22 34>;
                layers = <0>;
            };

            kp_8 {
                bindings = <&kp N8>;
                key-positions = <23 35>;
                layers = <0>;
            };

            kp_0 {
                bindings = <&kp N0>;
                key-positions = <24 36>;
                layers = <0>;
            };

            kp_minus {
                bindings = <&kp MINUS>;
                key-positions = <25 37>;
                layers = <0>;
            };

            kp_scroll_lock {
                bindings = <&kp SLCK>;
                key-positions = <15 24>;
                layers = <0>;
            };
        };


        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
//.-[00]--------v-[01]--------v-[02]--------v-[03]--------v-[04]--------v-[05]--------v-[06]--------.  .-[07]--------v-[08]--------v-[09]--------v-[10]--------v-[11]--------v-[12]--------v-[13]--------.
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
     ___          &kp GRAVE     &kp Q         &kp W         &kp E         &kp R         &kp T            &kp Y         &kp U         &kp I         &kp O         &kp P         &kp MINUS       ___
//|             |          ёЁ |          йЙ |          цЦ |          уУ |          кК |          еЕ |  |          нН |          гГ |          шШ |          щЩ |          зЗ |          -- |             |
//'-------------|-[14]{F11}---|-[15]{F9}----|-[16]{F7}----|-[17]{F5}----|-[18]{F3}----|-[19]{F1}----|  |-[20]{F2}----|-[21]{F4}----|-[22]{F6}----|-[23]{F8}----|-[24]{F10}---|-[25]{F12}---|-------------'
//              |             |  {SLCK}>    |             |             |             |             |  |             |             |             |             | <{SLCK}     |             |
                  &kp BSLH      &hm LSHFT A   &hm LGUI S    &hm LCTRL D   &hm LALT F    &hm RALT G       &hm LALT H    &hm RALT J    &hm RCTRL K   &hm RGUI L   &hm RSHFT SEMI &kp FSLH
//              |          \/ |          фФ |          ыЫ |          вВ |          аА |          пП |  |          рР |          оО |          лЛ |          дД |          жЖ |          ., |
//              |-[26]{EQUAL}-|-[27]{N9}----|-[28]{N7}----|-[29]{N5}----|-[30]{N3}----|-[31]{N1}----|  |-[32]{N2}----|-[33]{N4}----|-[34]{N6}----|-[35]{N8}----|-[36]{N0}----|-[37]{MINUS}-|
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  &kp LBKT      &kp Z         &kp X         &kp C         &kp V         &kp B            &kp N         &kp M         &kp COMMA     &kp DOT       &kp SQT       &kp RBKT
//              |          хХ |          яЯ |          чЧ |          сС |          мМ |          иИ |  |          тТ |          ьЬ |          бБ |          юЮ |          эЭ |          ъЪ |
//              '-------------^-------------^-------------|-[38]--------|-[39]--------|-[40]--------|  |-[41]--------|-[42]--------|-[43]--------|-------------^-------------^-------------'
//                                                        |             |             |             |  |             |             |             |
                                                            &lt ADJ TAB   &lt RSE RET  &lt LWR SPACE     &lt LWR BSPC  &lt RSE ESC   &lt ADJ DEL
//                                                        |             |             |             |  |             |             |             |
//                                                        '-------------^------------^--------------'  '-------------^-------------^-------------'
                        >;
                };

                lower_layer {
                        bindings = <
//.-[00]--------v-[01]--------v-[02]--------v-[03]--------v-[04]--------v-[05]--------v-[06]--------.  .-[07]--------v-[08]--------v-[09]--------v-[10]--------v-[11]--------v-[12]--------v-[13]--------.
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
    ___           ___           ___           ___           ___           ENG           &kp PSCRN        &kp INS       RUS           ___           ___           ___           ___           ___
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
//'-------------|-[14]--------|-[15]--------|-[16]--------|-[17]--------|-[18]--------|-[19]--------|  |-[20]--------|-[21]--------|-[22]--------|-[23]--------|-[24]--------|-[25]--------|-------------'
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  ___           &kp LC(A)     ___           &kp LC(INS)   &kp LS(INS)   ___              &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     ___           ___
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
//              |-[26]--------|-[27]--------|-[28]--------|-[29]--------|-[30]--------|-[31]--------|  |-[32]--------|-[33]--------|-[34]--------|-[35]--------|-[36]--------|-[37]--------|
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  ___           &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     ___              &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       ___           ___
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
//              '-------------^-------------^-------------|-[38]--------|-[39]--------|-[40]--------|  |-[41]--------|-[42]--------|-[43]--------|-------------^-------------^-------------'
//                                                        |             |             |             |  |             |             |             |
                                                            _v_           _v_           _v_              _v_           _v_           _v_
//                                                        |             |             |             |  |             |             |             |
//                                                        '-------------^-------------^-------------'  '-------------^-------------^-------------'
                        >;
                };

                raise_layer {
                        bindings = <
//.-[00]--------v-[01]--------v-[02]--------v-[03]--------v-[04]--------v-[05]--------v-[06]--------.  .-[07]--------v-[08]--------v-[09]--------v-[10]--------v-[11]--------v-[12]--------v-[13]--------.
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
    ___           ___           &kp RC(Q)     &kp RC(W)     &euro_sign    &kp RA(R)     &kp RA(T)        &kp RA(Y)     ___           &kp RA(N8)    ___           &kp RA(P)     ___           ___
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
//'-------------|-[14]--------|-[15]--------|-[16]--------|-[17]--------|-[18]--------|-[19]--------|  |-[20]--------|-[21]--------|-[22]--------|-[23]--------|-[24]--------|-[25]--------|-------------'
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  &kp CAPS      &kp RA(A)     &kp RA(S)     &kp RA(D)     &kp RA(F)     ___              &kp RA(H)     ___           &kp RA(K)     &kp RA(L)     &kp RA(SEMI)  &kp RA(SQT)
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
//              |-[26]--------|-[27]--------|-[28]--------|-[29]--------|-[30]--------|-[31]--------|  |-[32]--------|-[33]--------|-[34]--------|-[35]--------|-[36]--------|-[37]--------|
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  ___           ___           &kp RA(X)     &kp RA(C)     &kp RA(V)     &kp RA(N6)       &kp RA(N9)    &kp RA(N0)    &kp RA(COMMA) &kp RA(DOT)   &kp RA(FSLH)  &kp RA(MINUS)
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
//              '-------------^-------------^-------------|-[38]--------|-[39]--------|-[40]--------|  |-[41]--------|-[42]--------|-[43]--------|-------------^-------------^-------------'
//                                                        |             |             |             |  |             |             |             |
                                                            _v_           _v_           _v_              _v_           _v_           _v_
//                                                        |             |             |             |  |             |             |             |
//                                                        '-------------^-------------^-------------'  '-------------^-------------^-------------'
                        >;
                };

                adjust_layer {
                        bindings = <
//.-[00]--------v-[01]--------v-[02]--------v-[03]--------v-[04]--------v-[05]--------v-[06]--------.  .-[07]--------v-[08]--------v-[09]--------v-[10]--------v-[11]--------v-[12]--------v-[13]--------.
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
     ___          &bootloader   &kp SLASH     &kp KP_N7     &kp KP_N8     &kp KP_N9     &kp KP_MINUS     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR    &bootloader    ___
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
//'-------------|-[14]--------|-[15]--------|-[16]--------|-[17]--------|-[18]--------|-[19]--------|  |-[20]--------|-[21]--------|-[22]--------|-[23]--------|-[24]--------|-[25]--------|-------------'
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  &sys_reset  &kp KP_MULTIPLY &kp KP_N4     &kp KP_N5     &kp KP_N6     &kp KP_PLUS      ___           ___           ___           ___           ___           &sys_reset
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
//              |-[26]--------|-[27]--------|-[28]--------|-[29]--------|-[30]--------|-[31]--------|  |-[32]--------|-[33]--------|-[34]--------|-[35]--------|-[36]--------|-[37]--------|
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  &kp KP_NUM    &kp KP_N0     &kp KP_N1     &kp KP_N2     &kp KP_N3     &kp KP_DOT       ___           ___           ___           ___           ___           ___
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
//              '-------------^-------------^-------------|-[38]--------|-[39]--------|-[40]--------|  |-[41]--------|-[42]--------|-[43]--------|-------------^-------------^-------------'
//                                                        |             |             |             |  |             |             |             |
                                                            _v_           _v_           _v_              _v_           _v_           _v_
//                                                        |             |             |             |  |             |             |             |
//                                                        '-------------^-------------^-------------'  '-------------^-------------^-------------'
                        >;
                };

                system_layer {
                        bindings = <
//.-[00]--------v-[01]--------v-[02]--------v-[03]--------v-[04]--------v-[05]--------v-[06]--------.  .-[07]--------v-[08]--------v-[09]--------v-[10]--------v-[11]--------v-[12]--------v-[13]--------.
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
     ___          &bootloader   ___           ___           ___           ___           &kp N1           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR    &bootloader    ___
//|             |             |             |             |             |             |             |  |             |             |             |             |             |             |             |
//'-------------|-[14]--------|-[15]--------|-[16]--------|-[17]--------|-[18]--------|-[19]--------|  |-[20]--------|-[21]--------|-[22]--------|-[23]--------|-[24]--------|-[25]--------|-------------'
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  &sys_reset    ___           ___           ___           ___           ___              ___           ___           ___           ___           ___           &sys_reset
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
//              |-[26]--------|-[27]--------|-[28]--------|-[29]--------|-[30]--------|-[31]--------|  |-[32]--------|-[33]--------|-[34]--------|-[35]--------|-[36]--------|-[37]--------|
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
                  ___           ___           ___           ___           ___           ___              ___           ___           ___           ___           ___           ___
//              |             |             |             |             |             |             |  |             |             |             |             |             |             |
//              '-------------^-------------^-------------|-[38]--------|-[39]--------|-[40]--------|  |-[41]--------|-[42]--------|-[43]--------|-------------^-------------^-------------'
//                                                        |             |             |             |  |             |             |             |
                                                            _v_           _v_           _v_              _v_           _v_           _v_
//                                                        |             |             |             |  |             |             |             |
//                                                        '-------------^-------------^-------------'  '-------------^-------------^-------------'
                        >;
                };

        };
};
